<!DOCTYPE html>
<html>
  <head>
    <title>My Second Page.</title>
  </head>
  <body>
    <h1>This is my more page.</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quasi harum inventore explicabo earum commodi fugit molestiae perspiciatis expedita eos quos. Totam odit numquam accusamus modi pariatur distinctio quae corporis atque.
    </p>
    <a href="{{ url_for('index') }}">go back to index ...</a>
    <a href="{{url_for('less')}}">go to less page...</a>
  </body>
</html>